#div1 h1.styleswitch {
  color: red;
  font-size: 20px;
}
.change {
  background-color: blue;
  height: 200px;
  width: 200px;
}
h2 {
  font-size: 40px;
  width: 30%;
}
#click {
  background-color: green;
  height: 200px;
  width: 200px;
}
p {
  font-size: 40px;
}
p.fontchange {
  font-family: sans-serif;
}
